<h1>タスクの一覧</h1>

<% if @tasks.any? %>
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>タスク</th>
                <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each do |task| %>
                <tr>
                    <th scope="row"><%= link_to task.id, task %></th>
                    <td><%= task.content %></td>
                    <td><%= task.status %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div>
        <%= paginate @tasks %>
    </div>
<% end %>

<%= link_to '新規メッセージの投稿', new_task_path, class: "btn btn-primary" %>
