<h1>ID:<%= @task.id %> &gt; タスクの詳細</h1>

<table class="table table-hover">
  <tr>
    <th>#</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<ul>
  <li><%= link_to "タスクの一覧に戻る", tasks_path, class: 'btn btn-primary btn-block' %></li>
  <li><%= link_to "このタスクを修正する", edit_task_path(@task), class: 'btn btn-primary btn-block' %></li>
  <li></li><%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-primary btn-block' %>
</ul>

