<h3 class="display-4 text-primary">ID:<%= @task.id %> &gt; タスクの詳細</h3>

<table class="table table-hover">
  <tr>
    <th>#</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<div class="btn-toolbar">
  
    <%= link_to "タスクの一覧に戻る", root_path, class: 'btn btn-default btn-inverse btn-block btn-sm' %>
    <%= link_to "このタスクを修正する", edit_task_path(@task), class: 'btn btn-primary btn-block btn-sm' %>
    <%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger btn-block btn-sm' %>
  
</div>
